[build]
  builder = "paketobuildpacks/builder:base" 
  buildpacks = ["gcr.io/paketo-buildpacks/nodejs"] 

[http_service]
  internal_port = 8080 
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0