user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log notice;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    upstream backend {                                       
        {% for host in groups['sample_app_instances'] %}     
        server {{ hostvars[host]['public_dns_name'] }}:8080; 
        {% endfor %}
    }

    server {
        listen       80;                                     
        listen       [::]:80;

        location / {                                         
                proxy_pass http://backend;
        }
    }
}